[submodule "TLYShyNavBar"]
	path = TLYShyNavBar
	url = git@github.com:telly/TLYShyNavBar.git
[submodule "DateTools"]
	path = DateTools
	url = git@github.com:MatthewYork/DateTools.git
[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = git@github.com:SwiftyJSON/SwiftyJSON.git
